{% extends 'base.html.twig' %}

{% block title %}Checkout cancelled{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stripe/style.css') }}">
{% endblock %}

{% block body %}
    <section>
        <p>Picked the wrong subscription? Shop around then come back to pay!</p>
    </section>
{% endblock %}
