{% extends 'base.html.twig' %}

{% block title %}Payment Fil!{% endblock %}
{% block body %}
    <p>
        We would appreciate your business!
        But your payment faild :(
        <a href="mailto:orders@example.com">failuser@example.com</a>.
    </p>
{% endblock %}