{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <form action="/checkout" method="POST">
        <button type="submit" class="btn-primary btn-lg">Checkout</button>
    </form>
{% endblock %}